<h3>Add a Page</h3>
<form id="add-a-page-form" class="no-margin" action="#">
	<p class="no-margin">Page Name</p>
	<input type="text" id="pagename" autocomplete="off" placeholder="Enter a page name">
	<br>
	<a id="add-a-page-button" class="btn btn-small btn-primary" href="#">Add page</a>
</form>
<form id="upload-form" target="u-frame" action="/api/upload" method="POST" class="hidden" enctype="multipart/form-data">
	<input name="pid" id="upload-page-id" type="hidden">
	<input name="f" id="upload-file" type="file" class="hidden">
	<input id="upload-submit" type="submit" class="hidden">
</form>