<div id="content" class="span9">
	<ul class="unstyled list-view no-margin">
		<li id="list-types" class="row-fluid">
			<div class="span1"><p class="no-margin muted">Page #</p></div>
			<div class="span3"><p class="no-margin muted">Page Name</p></div>
			<div class="span2"><p class="no-margin muted">Last Updated</p></div>
			<div class="span3"><p class="no-margin muted">Filename</p></div>
			<div class="span3"><p class="no-margin muted"></p></div>
		</li>
	</ul>
</div>
<div id="side-bar" class="span3">
</div>