<div class="span1">
	<a class="page-num" href="#"><%= pageNum %></a>
	<div class="page-num-form no-margin hidden">
		<form action="#" class="no-margin">
			<input type="text" class="page-num-text super-short no-margin no-padding" value="<%= pageNum %>">
		</form>
	</div>
</div>
<div class="span3"><a class="page-name" href="#"><%= pageName %></a></div>
<div class="span2"><a class="date" href="#"><%= date %></a></div>
<div class="span3"><a class="filename" href="#"><%= filename %></a></div>
<div class="span3">
	<ul class="controls inline pull-right">
		<li><a class="upload muted" href="#">Upload</a></li>
		<li><a class="move muted" href="#">Move</a></li>
		<li><a class="remove muted" href="#">Delete</a></li>
	</ul>
</div>
