<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<h1>Plan Viewer</h1>
	</div>
</div>
<div class="container-fluid" id="content">
	{{{content}}}
</div>
<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner center">
		<a href="#credentials"><button class="btn btn-large btn-primary">Update Files</button></a>
	</div>
</div>