<h3>Add a User</h3>
<form id="add-a-user-form" class="no-margin" action="#">
	<p class="no-margin">Username</p>
	<input type="text" id="username" autocomplete="off" placeholder="Enter a username">
	<p class="no-margin">Email</p>
	<input type="text" id="email" autocomplete="off" placeholder="Enter an email">
	<br>
	<input type="text" id="email-confirm" autocomplete="off" placeholder="Confirm email">
	<br>
	<a id="add-a-user-button" class="btn btn-small btn-primary" href="#">Add user</a>
</form>