<div class="center">
	<form action="#" id="credential-form">
		<p class="no-margin">Username</p>
		<input id="username" type="text">
		<p class="no-margin">Password</p>
		<input id="password" type="text">
		<br>
		<button id="update-button" class="btn btn-primary">Update Files</button>
	</form>
</div>